In [9]:
from os import listdir
import pandas as pd
import csv

In [7]:
root = "../SepsisData/" 
a_root = root + "training/"
b_root = root + "training_setB/"

In [10]:
a_traincsv = listdir(a_root)
b_traincsv = listdir(b_root)

with open('train_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')


  for ind, csv_name in enumerate(a_traincsv):
    with open(a_root+ csv_name,'r') as csvinput:

    
      reader = csv.reader(csvinput, delimiter='|')
      all = []
      
      if ind ==0 :
        row = next(reader)
        row.append('Patient_id')
        row.append('time')
        all.append(row)
      else:
        row = next(reader)

      for i,row in enumerate(reader):
        row.append(ind)
        row.append(i)
        
        
        all.append(row)

      writer.writerows(all)
 

  num = ind 


  for inde, csv_name in enumerate(b_traincsv):
    if inde < 10000:
      num = num+1
      with open(b_root+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []


        row = next(reader)
        for i,row in enumerate(reader):
          row.append(num)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [16]:
a = pd.read_csv('train_patient.csv',delimiter=',')
a.head(60)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,80.0,100.0,36.50,121.00,58.0,41.00,13.5,NaN,1.0,25.0,...,160.0,77.27,1,0.0,1.0,-69.14,3,0,0,0
1,76.0,100.0,36.25,113.25,61.0,41.50,12.0,NaN,1.0,25.0,...,NaN,77.27,1,0.0,1.0,-69.14,4,0,0,1
2,80.0,100.0,36.25,132.75,71.5,46.25,12.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,5,0,0,2
3,78.0,100.0,36.10,103.50,58.0,43.00,12.0,NaN,-3.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,6,0,0,3
4,74.0,100.0,36.00,128.75,69.5,44.50,12.5,NaN,-3.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,7,0,0,4
5,76.0,100.0,36.20,124.00,65.0,41.50,14.0,NaN,0.0,25.0,...,169.0,77.27,1,0.0,1.0,-69.14,8,0,0,5
6,70.0,100.0,36.10,120.25,65.0,43.00,14.0,NaN,0.0,25.0,...,NaN,77.27,1,0.0,1.0,-69.14,9,0,0,6
7,67.0,100.0,36.40,130.50,73.0,49.00,14.0,NaN,0.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,10,0,0,7
8,64.5,100.0,36.55,116.75,62.5,42.50,14.0,NaN,0.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,11,0,0,8
9,65.0,99.0,36.90,117.50,61.0,43.50,21.0,NaN,NaN,24.0,...,154.0,77.27,1,0.0,1.0,-69.14,12,0,0,9
10,80.0,99.0,37.00,124.00,72.0,49.00,25.0,NaN,0.0,24.0,...,NaN,77.27,1,0.0,1.0,-69.14,13,0,0,10
11,80.0,98.0,36.70,106.00,62.0,43.00,21.0,NaN,0.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,14,0,0,11
12,80.0,98.0,36.80,119.00,70.0,47.00,20.0,NaN,-2.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,15,0,0,12
13,80.0,97.0,37.10,141.00,79.0,52.00,16.0,NaN,-2.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,16,0,0,13
14,80.0,100.0,37.10,112.00,65.0,46.00,20.0,NaN,NaN,23.0,...,160.0,77.27,1,0.0,1.0,-69.14,17,0,0,14
15,80.0,100.0,37.30,119.00,70.0,49.00,16.0,NaN,0.0,23.0,...,NaN,77.27,1,0.0,1.0,-69.14,18,0,0,15
16,80.0,100.0,37.50,126.00,72.0,50.00,16.0,NaN,0.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,19,0,0,16
17,80.0,98.0,37.50,107.00,61.0,43.00,16.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,20,0,0,17
18,80.0,99.0,37.40,123.00,72.5,50.00,18.5,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,21,0,0,18
19,78.0,98.0,37.40,133.00,75.0,52.00,21.0,NaN,-0.5,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,22,0,0,19
20,88.0,97.0,37.10,126.00,71.0,47.00,22.0,NaN,-1.5,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,23,0,0,20
21,87.0,100.0,37.00,158.00,90.0,59.00,23.5,NaN,-2.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,24,0,0,21
22,89.0,97.0,37.00,100.00,63.0,44.00,21.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,25,0,0,22
23,89.0,99.0,37.10,149.00,90.0,61.00,19.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,26,0,0,23
24,86.0,98.5,36.90,127.50,76.5,53.50,20.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,27,0,0,24
25,88.0,99.0,36.90,149.00,90.0,61.00,22.5,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,28,0,0,25
26,88.0,99.0,37.20,98.50,62.5,44.50,17.5,NaN,NaN,22.0,...,NaN,77.27,1,0.0,1.0,-69.14,29,0,0,26
27,89.0,99.5,37.42,132.50,80.0,53.00,17.5,NaN,NaN,22.0,...,NaN,77.27,1,0.0,1.0,-69.14,30,0,0,27
28,88.0,95.0,37.30,185.00,112.0,73.00,23.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,31,0,0,28
29,86.0,97.0,37.20,143.00,82.0,55.00,23.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,32,0,0,29
30,88.0,99.0,37.00,148.00,87.0,59.00,25.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,33,0,0,30
31,84.0,97.0,37.00,135.00,79.0,54.00,24.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,34,0,0,31
32,88.0,98.0,37.10,141.00,83.0,57.00,18.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,35,0,0,32
33,84.0,94.0,37.20,141.00,81.0,55.00,17.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,36,0,0,33
34,85.0,98.0,37.10,132.00,78.0,54.00,24.0,NaN,0.0,24.0,...,105.0,77.27,1,0.0,1.0,-69.14,37,0,0,34
35,82.0,98.0,37.00,121.00,69.0,48.00,19.0,NaN,0.0,24.0,...,NaN,77.27,1,0.0,1.0,-69.14,38,0,0,35
36,82.0,98.0,37.00,112.50,67.0,45.00,17.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,39,0,0,36
37,82.0,97.0,37.10,102.00,62.0,44.00,18.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,40,0,0,37
38,85.0,98.0,37.10,127.00,75.0,50.00,21.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,41,0,0,38
39,89.0,97.0,37.10,111.00,70.0,50.00,20.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,42,0,0,39
40,91.0,97.0,37.20,108.00,67.0,46.00,19.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,43,0,0,40
41,96.0,98.0,37.20,155.00,90.0,60.00,25.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,44,0,0,41
42,88.0,96.0,37.20,114.00,66.0,45.00,18.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,45,0,0,42
43,92.0,98.0,37.20,130.00,74.0,50.00,17.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,46,0,0,43
44,91.0,99.0,37.30,108.00,62.0,42.00,17.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,47,0,0,44
45,93.0,95.0,NaN,127.00,73.0,50.00,19.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,48,0,0,45
46,104.0,95.0,37.30,153.00,89.0,58.00,30.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,49,0,0,46
47,105.0,94.0,37.20,161.00,81.0,51.00,29.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,50,0,0,47
48,104.0,94.0,37.20,160.00,81.0,50.00,21.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,51,0,0,48
49,89.0,97.0,37.00,149.00,75.0,47.00,25.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,52,0,0,49
50,84.0,95.0,NaN,128.00,75.0,48.00,23.0,NaN,2.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,53,0,0,50
51,91.0,92.0,37.20,129.00,74.0,47.00,20.0,NaN,2.0,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,54,0,0,51
52,83.0,98.0,NaN,130.00,76.0,49.00,18.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,55,0,0,52
53,94.0,95.0,NaN,145.00,85.0,52.00,23.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,56,0,0,53
54,94.0,97.0,NaN,130.00,73.0,43.00,20.0,NaN,NaN,NaN,...,NaN,77.27,1,0.0,1.0,-69.14,57,0,0,54
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,65.55,1,NaN,NaN,-0.02,1,0,1,0
56,78.0,100.0,NaN,90.00,79.0,61.00,13.0,NaN,NaN,NaN,...,NaN,65.55,1,NaN,NaN,-0.02,2,0,1,1
57,80.0,100.0,NaN,82.00,72.0,56.00,19.0,NaN,NaN,NaN,...,NaN,65.55,1,NaN,NaN,-0.02,3,0,1,2
58,84.0,100.0,NaN,94.00,78.0,64.00,20.0,NaN,NaN,NaN,...,NaN,65.55,1,NaN,NaN,-0.02,4,0,1,3
59,83.0,99.0,36.11,94.00,87.0,66.00,16.0,NaN,NaN,NaN,...,NaN,65.55,1,NaN,NaN,-0.02,5,0,1,4

In [17]:
with open('val_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')

  for inde, csv_name in enumerate(b_traincsv):
    
    if inde >=10000 and inde <15000:
      with open(b_root+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []

        
        if inde ==10000 :
          row = next(reader)
          row.append('Patient_id')
          row.append('time')
          all.append(row)
        else:
          row = next(reader)

        for i,row in enumerate(reader):
          row.append(inde)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [22]:
b=pd.read_csv('val_patient.csv',delimiter=',')
b.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,109.0,94.0,37.4,192.0,156.0,128.0,19.0,NaN,NaN,NaN,...,NaN,43,0,1.0,0.0,-8.35,2,0,10000,0
1,111.5,94.5,NaN,143.0,103.5,79.0,17.5,NaN,NaN,NaN,...,NaN,43,0,1.0,0.0,-8.35,3,0,10000,1
2,102.0,95.0,NaN,161.0,124.0,99.0,16.0,NaN,NaN,NaN,...,NaN,43,0,1.0,0.0,-8.35,4,0,10000,2
3,113.0,95.0,36.7,177.0,138.0,112.0,18.0,NaN,NaN,NaN,...,NaN,43,0,1.0,0.0,-8.35,5,0,10000,3
4,103.0,91.0,NaN,159.0,119.0,93.0,19.0,NaN,NaN,NaN,...,NaN,43,0,1.0,0.0,-8.35,6,0,10000,4

In [23]:
with open('test_patient.csv', 'w') as csvoutput:
  writer = csv.writer(csvoutput, lineterminator='\n')

  for inde, csv_name in enumerate(b_traincsv):
    
    if inde >=15000:
      with open(b_root+ csv_name,'r') as csvinput:


        reader = csv.reader(csvinput, delimiter='|')
        all = []

        
        if inde ==15000 :
          row = next(reader)
          row.append('Patient_id')
          row.append('time')
          all.append(row)
        else:
          row = next(reader)

        for i,row in enumerate(reader):
          row.append(inde)
          row.append(i)


          all.append(row)

        writer.writerows(all)

In [25]:
c = pd.read_csv('test_patient.csv',delimiter=',')
c.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_id,time
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,71,1,0.0,1.0,-48.14,1,0,15000,0
1,82.0,96.0,36.5,116.0,83.0,74.0,NaN,NaN,NaN,NaN,...,NaN,71,1,0.0,1.0,-48.14,2,0,15000,1
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,71,1,0.0,1.0,-48.14,3,0,15000,2
3,81.0,100.0,36.6,103.0,77.0,66.0,NaN,NaN,NaN,NaN,...,NaN,71,1,0.0,1.0,-48.14,4,0,15000,3
4,83.0,97.0,36.5,108.0,70.0,62.5,23.0,NaN,NaN,NaN,...,NaN,71,1,0.0,1.0,-48.14,5,0,15000,4