In [1]:
from os import listdir
import pandas as pd

In [8]:
root = "../SepsisData/" 
a_root = root + "training/"
b_root = root + "training_setB/"

In [9]:
sample = pd.read_csv( a_root + 'p000001.psv', sep='|')
sample.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,5,0

In [10]:
a_traincsv = listdir(a_root)
b_traincsv = listdir(b_root)

with open("train.psv","wb") as fileout:

  for i,csv in enumerate(a_traincsv):
    
      # first file:
    if i == 0:
      with open( a_root + csv, "rb") as f:
          fileout.write(f.read())
      # the rest:    
    with open( a_root  + csv, "rb") as f:
      next(f) # skip the header
      fileout.write(f.read())      
  for i,csv in enumerate(b_traincsv):
    if i <10000:
      with open( b_root  + csv, "rb") as f:
        next(f) # skip the header
        fileout.write(f.read())

In [12]:
train = pd.read_csv('../SepsisData/train.psv', sep ='|')
train.shape

(1170446, 41)

In [13]:
with open("validation.psv","wb") as fileout:

  for i,csv in enumerate(b_traincsv):
    
    if i >=10000 and i <15000:

        # first file:
      if i == 10000:
        with open(b_root + csv, "rb") as f:
            fileout.write(f.read())
        # the rest:    
      with open(b_root + csv, "rb") as f:
        next(f) # skip the header
        fileout.write(f.read())

In [14]:
validation = pd.read_csv('../SepsisData/validation.psv', delimiter ='|')
validation.shape

(191631, 41)

In [15]:
with open("test.psv","wb") as fileout:

  for i,csv in enumerate(b_traincsv):
    
    if i >=15000:

        # first file:
      if i == 15000:
        with open(b_root + csv, "rb") as f:
            fileout.write(f.read())
        # now the rest:    
      with open(b_root + csv, "rb") as f:
        next(f) # skip the header
        fileout.write(f.read())

In [16]:
test = pd.read_csv('../SepsisData/test.psv', sep ='|')
test.shape

(190251, 41)